<script lang="ts">
  import { Menu, Menuitem, Button } from "svelte-mui";
  import {
    textToSentiment,
    serverTest,
    ISentimentResponse,
    textsToSentiment
  } from "../api/sentiment";
  import { Textfield } from "svelte-mui";

  let value = "";
  let model = "sentimentor";

  let severOn = serverTest();
  let sentiment: Promise<ISentimentResponse> = undefined;

  $: sentiment = getSentiment(value, model);

  const uploadFile = (file: File) => {
    const reader = new FileReader();
    reader.readAsText(file);
    let listOfStrings;
    reader.onload = async (e) => {
      listOfStrings = JSON.parse(String(e.target.result));

      const sentiments = await textsToSentiment(listOfStrings, model);

      var hiddenElement = window.document.createElement("a");
      hiddenElement.href =
        "data:text/JSON;charset=utf-8," +
        encodeURI(JSON.stringify(sentiments));
      
      hiddenElement.target = "_blank";
      hiddenElement.download = "test.json";
      hiddenElement.click();
    };
  };

  const getSentiment = async (text: string, mod:string): Promise<ISentimentResponse> => {
    if (!text || text.length < 10) return;
    await new Promise((resolve) => setTimeout(resolve, 1000));
    if (text !== value) return;
    if (text) return textToSentiment(text, mod);
  };
</script>

<section>
  <Textfield autocomplete="off" label="Magic will happen 🪄" bind:value />
  <Menu origin="top left">
    <div slot="activator">
      <Button color="primary" outlined ripple={false}>
        <span>{model}</span>
      </Button>
    </div>

    <Menuitem on:click={() => (model = "sentimentor")}>sentimentor</Menuitem>
    <Menuitem on:click={() => (model = "transformers")}>transformers</Menuitem>
  </Menu>

  {#await severOn}
    <p>...waiting ⏳</p>
  {:then _}
    {#await sentiment}
      <p>...waiting ⏳</p>
    {:then sentiment}
      {#if !sentiment}
        <p class="faces_size">🐙</p>
      {:else if sentiment.sentiment === 1}
        <p class="faces_size">😺</p>
        <p class="text_probability">probability: {sentiment.probability}</p>
      {:else if sentiment.sentiment === 0}
        <p class="faces_size">🙀</p>
        <p class="text_probability">probability: {sentiment.probability}</p>
      {:else if sentiment.sentiment === -1}
        <p class="faces_size">😾</p>
        <p class="text_probability">probability: {sentiment.probability}</p>
      {/if}
    {/await}
  {:catch _}
    <p class="faces_size">❌</p>
  {/await}

  <input
    on:change={(e) => uploadFile(e.currentTarget.files[0])}
    accept=".json"
    style="margin: 10px;"
    type="file"
  />
</section>

<style>
  .faces_size {
    font-size: 3rem;
    margin: 0;
  }

  .text_probability {
    font-size: 1rem;
    font-weight: bold;
  }
</style>
