<script lang="ts">
  import logo from "./assets/wind-solid.svg";
  import Counter from "./components/Counter.svelte";
</script>

<main>
  <img style="width: 200px;" src={logo} alt="Svelte Logo" />
  <h1 style="font-weight: bold;">Sentimentor</h1>
  <div class="counter" >
    <Counter />
  </div>

  <p>
    Visit <a href="https://gitlab.com/ThomasHinterberger/sentimentorv"
      >gitlab.com</a
    > to learn how I build this project 🔥
  </p>

  <p>
    Check out <a href="https://www.fast.ai/">Fastai</a>
  </p>

  <p>© Thomas Hinterberger 2022. All rights reserved.</p>
</main>

<style>
  :root {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }

  .counter{
    padding: 0 200px 0 200px;
  }

  @media (max-width: 640px) {
    .counter {
      padding: 0 0 0 0;
    }
  }

  main {
    text-align: center;
    margin: 0 auto;
  }

  img {
    height: 16rem;
    width: 16rem;
  }

  h1 {
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 100;
    line-height: 1.1;
    margin: 1rem 2rem;
  }

  p {
    max-width: 14rem;
    margin: 1rem auto;
    line-height: 1.35;
  }

  @media (max-width: 640px) {
    h1 {
      font-size: 3.5rem;
    }
  }

  @media (min-width: 480px) {
    p {
      max-width: none;
    }
  }
</style>
